#game-page:not(.display-none) {
  display: grid;
  grid-template-columns: 250px 550px 400px;
  grid-template-rows: 150px 350px;
  padding: 30px;
  box-sizing: border-box;
}

.room-info {
  grid-column: 1;
  grid-row: 1;
}

#users {
  grid-column: 1;
  grid-row: 2;
  padding: 5px;
}

#game-screen {
  position: relative;
  grid-column: 2;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.ready-circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 2px;
  border-radius: 50%;
  background-color: crimson;
}

.ready-circle.active {
  background-color: darkgreen;
}

.progress-bar {
  width: 90%;
  height: 25px;
  margin: 3px 0;
  border: 1px solid gray;
}

.progress-bar .progress-bar-inner {
  padding: 0;
  margin: 0;
  background-color: green;
  width: 0%;
  height: inherit;
}

.progress-bar-inner.finished {
  background-color: rgb(77, 165, 77);
}

.ready-button {
  width: 170px;
  height: 50px;
}

.countdown-start {
  font-size: 30px;
}

.countdown-end {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
}

.correct {
  background-color: rgb(0, 128, 0);
}

.current-character {
  text-decoration: underline;
}

#game-text span {
  font-size: 30px;
}

.commentator {
  padding: 30px;
  grid-column: 3;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentator img {
  width: 150px;
  height: 150px;
}

.commentator-speech-ballon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  font-size: 0.7rem;
  border-radius: 20px;
  background-color: #b1b1b1;
  text-align: center;
}

.speech-pointer {
  height: 40px;
	width: 40px;
	background: #b1b1b1;
	transform: rotate(45deg);
	margin-top: -22px;
}

.commentator.display-none {
  display: none;
}

.commentator-quote {
  font-size: 0.75rem;
  text-align: center;
}